@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-width: 1100px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
        'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --background-color: #fcf0d9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
}

body {
    background: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.sidebar {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}
